@charset "UTF-8";
/* Anova: Typography.css */

/*------------------------------------------------*/
/* FONT STYLE */
/*------------------------------------------------*/
body,th,td,table,h1,h2,h3,h4,h5,h6, 
.Head,.SubHead,.SubSubHead, 
.Normal,.NormalBold, .NormalRed, .NormalTextBox, .NormalDisabled, 
a:link, a:visited, a:hover, input, .CommandButton {
	font-family: Arial, Helvetica, sans-serif;
}

body,th,td,table,
.Head,.SubHead,.SubSubHead, 
.Normal,.NormalBold, .NormalRed, .NormalTextBox, .NormalDisabled {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}

em { 
	font-style: italic; 
	letter-spacing: 0; 
}

strong { 
	color: #333;
	font-weight: bold; 
}
small { 
	font-size: 11px; 
	letter-spacing: 0;
}

/*------------------------------------------------*/
/* HEADER STYLE */
/*------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {	
	color: #666;	
	font-family: "Titillium Web", Arial, Helvetica, sans-serif;	
	line-height: 1;
	margin: 0 0 10px 0;
}
h1{
	font-size: 32px;
	font-weight: normal;
}
h2, h2 .Head{
	font-size: 28px;
	font-weight: normal;
}
h3, h3 .Head{
	font-size:24px;
	font-weight: normal;
}
h4, h4 .Head{
	font-size:20px;
}
h5, h5 .Head{
	font-size:16px;
}
h6, h6 .Head{
	font-size:14px;
}

/*------------------------------------------------*/
/* ANCHOR STYLE */
/*------------------------------------------------*/
a,a:link,a:visited,a:active{
	color:#ff5f76; 
	text-decoration:none;  
}
a:hover{
	color:#ff8015; 
	text-decoration:none;
}

/* DNN Specific Selectors 
-------------------------------------*/
.CommandButton {
	font-size: 13px;
	color: #3d3d3d;
	font-weight: bold;
}
.CommandButton:hover {
	color: #007cae;
}
a.CommandButton:link {
	font-size: 13px;
	text-decoration: none;
	color: #3d3d3d;
	font-weight: bold;	
}
a.CommandButton:hover {
	text-decoration: underline;
	color: #007cae;
}

/*------------------------------------------------*/
/* PARAGRAPH STYLE */
/*------------------------------------------------*/
p {
	margin: 0 0 25px 0;
}

hr { 
	clear: both;
	height: 0;
	border: solid #e8e8e8; 
	border-width: 1px 0 0;  
	margin: 20px 0 20px 0; 
}

/*------------------------------------------------*/
/* IMAGE STYLES */
/*------------------------------------------------*/
img {
	border: 0;
}

/* Image Align Left 
-------------------------------------*/
.imgLeft {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

/* Image Align Right 
-------------------------------------*/
.imgRight {
	float: right;
	margin-left: 30px;
	margin-bottom: 30px;
}

/*------------------------------------------------*/
/* lIST STYLE */
/*------------------------------------------------*/
/* Unordered List
-------------------------------------*/
ul li {
	list-style-type: disc;
	margin-bottom: 8px;
	vertical-align: top;
}

ul ul {
	margin-top: 8px;
	margin-left: 30px;
}

ul li li {
	list-style-type: disc;
}

ul li li li {
	list-style-type: circle;
}

/* Ordered List
-------------------------------------*/
ol li {
	list-style-type: decimal;
	margin-bottom: 8px;
	vertical-align: top;
}

ol ol {
	margin-top: 8px;
	margin-left: 30px;
}

ol ol li {
	list-style-type: lower-roman;
}

ol ol ol li {
	list-style-type: lower-alpha;
}

ol ul li {
	list-style-type: lower-roman;
}

/*
 * Table style
 */

/* Default table style */

table.tableDefault  {
	width: 100%; 
	border-collapse: collapse; 
	border-spacing: 0; 
	background-color: transparent;
}

table.tableDefault th, 
table.tableDefault td {
	font-size: 12px;
	padding: 8px; 
}

table.tableDefault th {
	color: #fff;
	font-weight: bold;
	text-align: left;
	border-bottom: solid 2px #eb3250;
	background-color: #fb4563;
}

table.tableDefault td {
	border-bottom: solid 1px #d9d9d9;
}

table.tableDefault tr:nth-child(odd) {
	background: #transparent
}

table.tableDefault tr:nth-child(even) {
	background: #e8e4e3;
}

.tableDefault tbody tr:hover td { 
	color: #111;
}

/*
 * Form style
 */
input[type="text"],select,textarea,input[type="email"],input[type="search"], input[type="password"]{
	padding: 9px;
	background-color: #fff;
	border: 1px solid #ccc;
	/* CSS3 */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3) ;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3) ;
	
}

/*
 * Form (1 column)
 */
.form_oneCol label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}
.form_oneCol input , .form_oneCol textarea{
	width: 94%;
}

/*
 * Button styles
 */

button.primaryButton,
a.primaryButton {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	color: #666;
	padding: 20px 40px 15px 40px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	background-color: #f4f4f4;
	/* CSS3 */
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow:	1px 2px 0px 0px rgba(100, 100, 100, 0.3);
	-moz-box-shadow: 1px 2px 0px 0px rgba(100, 100, 100, 0.3);
	-webkit-box-shadow: 1px 2px 0px 0px rgba(100, 100, 100, 0.3);	
	text-shadow: 0px 1px 1px #ffffff;
	background: -moz-linear-gradient(top, #ffffff, #eeeeee); /* FF3.6 */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eeeeee)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee')"; /* IE8 */
}

button.primaryButton:hover,
a.primaryButton:hover { 
	cursor: pointer;
	cursor: hand;
	color: #666;
	background-color: #f4f4f4;
	/* CSS3 */
	background: -moz-linear-gradient(top, #eeeeee, #ffffff); /* FF3.6 */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ffffff'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ffffff')"; /* IE8 */
}

button.secondaryButton,
a.secondaryButton {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	color: #fff;
	padding: 12px 20px 10px 20px;
	border: 1px solid #00c2c2;
	margin-bottom: 10px;
	background-color: #00c2c2;
	/* CSS3 */
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);	
	text-shadow: 1px 0px 0px #777;
	background: -moz-linear-gradient(top, #00d7c7, #00b3c1); /* FF3.6 */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #00d7c7),color-stop(1, #00b3c1)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#00d7c7', EndColorStr='#00b3c1'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00d7c7', EndColorStr='#00b3c1')"; /* IE8 */
	
}

button.secondaryButton:hover,
a.secondaryButton:hover {
	cursor: pointer;
	cursor: hand;
	color: #fff;
	background-color: #00c2c2;
	/* CSS3 */
	background: -moz-linear-gradient(top, #00b3c1, #00c8b9); /* FF3.6 */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #00b3c1),color-stop(1, #00c8b9)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#00b3c1', EndColorStr='#00c8b9'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00b3c1', EndColorStr='#00c8b9')"; /* IE8 */
}

button.altButton,
a.altButton {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	color: #666;
	padding: 12px 20px 10px 20px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	background-color: #f4f4f4;
	/* CSS3 */
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow:	1px 2px 0px 0px rgba(100, 100, 100, 0.3);
	-moz-box-shadow: 1px 2px 0px 0px rgba(100, 100, 100, 0.3);
	-webkit-box-shadow: 1px 2px 0px 0px rgba(100, 100, 100, 0.3);
	text-shadow: 0px 1px 1px #fff;
	background: -moz-linear-gradient(top, #ffffff, #eeeeee); /* FF3.6 */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eeeeee)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee')"; /* IE8 */
}

button.altButton:hover,
a.altButton:hover {
	cursor: pointer;
	cursor: hand;
	background-color: #f4f4f4;
	/* CSS3 */
	background: -moz-linear-gradient(top, #eeeeee, #ffffff); /* FF3.6 */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #ffffff)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ffffff'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ffffff')"; /* IE8 */
}

